.cm-teaser-overlay {
  position: absolute;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}

.cm-teaser-overlay__text :first-child {
  margin-top: 0
}

.cm-teaser-overlay__text :last-child {
  margin-bottom: 0
}

.cm-teaser-overlay__cta {
  margin: 5px 0 0;
  text-align: center;
  width: 100%
}

.cm-teaser-overlay__cta--left {
  justify-content: flex-start
}

.cm-teaser-overlay__cta--center {
  justify-content: center
}

.cm-teaser-overlay__cta--right {
  justify-content: flex-end
}

.cm-teaser-overlay__cta-button {
  pointer-events: auto
}

.cm-teaser-overlay__text h1 {
  font-family: var(--font-family-headline);
  font-size: var(--font-size-heading-2);
  margin-bottom: 0;
}

.cm-teaser-overlay__text p {
  line-height: 24px;
  padding-bottom: 24px
}

.cm-overlay--theme-dark .cm-overlay__link {
  color: #000;
  background-color: transparent;
  padding: .5rem;
  display: block
}

.cm-overlay--theme-light .cm-overlay__link {
  color: #fff;
  background-color: transparent;
  padding: .5rem;
  display: block
}

.cm-overlay--theme-light-on-dark .cm-overlay__link {
  color: #fff;
  background-color: #000;
  padding: .5rem;
  display: block
}

.cm-overlay--theme-dark-on-light .cm-overlay__link {
  color: #000;
  background-color: #fff;
  padding: .5rem;
  display: block
}
