.cm-image {
  display: block;
  width: 100%;
  color: transparent;

  &-box {
    --aspect-ratio: 4*3; // width*height, default
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-background-image);
    padding-bottom: calc(100% / var(--aspect-ratio));
  }

  &--uncropped {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
  }
}

.cm-video {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

