.cm-preview {
  background: none transparent;
  margin: 0;
  padding: 0;
  height: auto;

  &-item {
    margin: 12px;
    transition: all 0.25s;
    box-shadow: 0 1px 3px 0 rgba(63, 63, 63, 0.6);
    background-color: #FFFFFF;

    &__headline {
      display: block;
      font-family: var(--font-family-studio);
      font-size: 13px;
      font-weight: 700;
      color: #3f3f3f;
      line-height: 20px;
      padding: 4px 6px 4px 28px;
      cursor: pointer;
      text-decoration: none;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNiAxNiIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cjxwb2x5Z29uIHBvaW50cz0iOCA4LjgzIDUuMTcgNiA0LjQ2IDYuNzEgOCAxMC4yNCAxMS41NCA2LjcxIDEwLjgzIDYiLz4KPC9zdmc+Cg==');
      background-size: 16px;
      background-position-x: 6px;
      background-position-y: center;
      background-repeat: no-repeat;
    }

    &__container {
      display: block;
      padding: 12px;
    }

    &__content {
      clear: both;

      .cm-left-right-banner-container {
        margin-top: 30px;
      }

      & > * {
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 30px);

        @media screen and (min-width: 768px) {
          width: 690px;
        }

        @media screen and (min-width: 768px) and (orientation: landscape) {
          width: calc(100% - 30px);
          max-width: 920px;
        }

        @media screen and (min-width: 1200px) {
          width: var(--screen-size-max);
          max-width: 100%;
        }
      }
    }

    &.collapsed {
      box-shadow: none;
      background-color: transparent;

      .cm-preview-item__headline {
        background-color: transparent;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNiAxNiIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cjxwb2x5Z29uIHBvaW50cz0iOS41OSA4IDYuNzYgMTAuODMgNy40NiAxMS41NCAxMSA4IDcuNDYgNC40NiA2Ljc2IDUuMTciLz4KPC9zdmc+Cg==');
      }

      &:hover {
        background-color: #FFFFFF;
      }
    }
  }
}
