.cm-square-banner {
  position: relative;
  margin: 0;

  &-container {
    --number-items: 1;
    --gap-width: var(--padding-medium);

      @media screen and (min-width: 768px) {
        --number-items: 2;
      }

      @media screen and (min-width: 1024px) {
        --number-items: 3;
      }
  }

  .cm-image-box {
    --aspect-ratio: 1*1;
  }

  &__caption {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: var(--padding-medium);
    text-align: center;
    padding: 0 8%;
    text-shadow: 0 0 var(--padding-small) var(--color-background-dark);

    > :last-child {
      margin-bottom: 0
    }
  }

  .cm-teaser-overlay__text {
    margin-bottom: 12px
  }

  .cm-teaser-overlay > :last-child {
    margin-bottom: 0
  }

  .cm-banner {
    &__headline,
    &__text,
    &__title {
      color: #fff;
      margin: 0
    }
  }

  .cm-pricing {
    color: #fff;
  }
}
