.cm-tag {

  &__headline {
    font-family: var(--font-family-headline);
    font-size: var(--font-size-heading-2);
    text-align: center;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center
  }

  &__item {
    display: inline-block;
    padding: var(--padding-small) var(--padding-medium);
    background: var(--color-background-light);
    margin: var(--padding-small);
    margin-top: 0;
    border: 1px solid var(--color-background-dark);
    border-radius: 5px;

    > a {
      text-decoration: none;
    }

    &:hover {
      background: var(--color-background-dark);
      color: var(--color-background-light);

      > a {
        color: var(--color-background-light);
      }
    }
  }
}
