.cm-header {

  &__mobile-search-button {
    display: block;
    cursor: pointer;

    @media screen and (min-width: 768px) and (orientation: landscape), screen and (min-width: 1200px) {
      display: none
    }
  }

  &__search {
    margin-left: 10px;

    @media screen and (min-width: 768px) and (orientation: landscape), screen and (min-width: 1200px) {
      margin-left: 15px;
      order: 3;
    }
  }

  .cm-search {
    @media screen and (max-width: 767px), screen and (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
      display: none;

      .open {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 1;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #fff
      }
    }

    &__form {
      &-close {
        position: relative;
        margin-right: 15px
      }

      &-input {
        background-color: #fff;

        @media screen and (max-width: 767px), screen and (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
          display: inline-block;
          box-sizing: border-box;
          height: 48px;
          width: 100%;
          padding-right: 44px;
          border: none;
          font-size: 20px;
          color: #000;
          background-color: transparent;
          box-shadow: none;
          &:focus {
            box-shadow: none
          }
        }
      }
    }

    .cm-search--form {
      flex-grow: 1;
      margin-right: 15px;

      @media screen and (min-width: 768px) and (orientation: landscape), screen and (min-width: 1200px) {
        flex-grow: 0;
        margin-right: 0
      }

      .cm-search__form-button {
        top: 7px;
        background-size: 44px;

        @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape), screen and (min-width: 1200px) {
          top: 3px;
          background-size: 32px
        }
      }
    }
  }
}


.cm-mobile-search-button {
  position: relative;
  width: 44px;
  height: 44px;
  background: url(./assets/magnifier.svg) no-repeat 50% transparent;
  background-size: 44px;

  @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape), screen and (min-width: 1200px) {
    background-size: 32px
  }

  &:hover {
    cursor: pointer
  }
}
