.cm-footer {
  background-color: var(--color-background-dark);
  color: var(--color-background-light);
  padding: var(--padding-small) 0;
  text-align: center;
  font-size: var(--font-size-text-small);

  @media screen and (min-width: 768px) and (orientation: landscape), (min-width: 1200px) {
    text-align: left;
  }

  &__wrapper {
    display: flex;
    max-width: var(--screen-size-max);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
    padding: 0 var(--grid-gap);

    @media screen and (min-width: 768px) and (orientation: landscape), (min-width: 1200px) {
      flex-direction: row
    }
  }

  &__copyright {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) and (orientation: landscape), (min-width: 1200px) {
      display: inline-block;
      flex-grow: 0;
      white-space: nowrap;
      margin-right: 12px;
      margin-bottom: 0
    }
  }

  &__links {
    padding: 0;
    margin: 0 0 12px;
    list-style: none;

    @media screen and (min-width: 768px) and (orientation: landscape), (min-width: 1200px) {
      display: inline-block;
      flex-grow: 1;
      margin-bottom: 0
    }
  }

  &__item {
    display: block;
    border-bottom: 1px solid var(--color-background-light);

    @media screen and (min-width: 768px) {
      display: inline-block;
      border-right: 1px solid var(--color-background-light);
      border-bottom: 0;

      &:last-child {
        border-right: none
      }
    }
  }

  &__link {
    display: block;
    color: var(--color-background-light);
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;

    @media screen and (min-width: 768px) {
      padding: 0;
      margin: 0 12px
    }
  }

  &__link:hover {
    text-decoration: underline
  }

  &__social-icons {
    line-height: 1;

    @media screen and (min-width: 768px) and (orientation: landscape), (min-width: 1200px) {
      flex-grow: 0;
      text-align: right;
      white-space: nowrap
    }
  }

  &__social-icons .social-icon {
    height: 24px;
    width: 32px;
    display: inline-block;
    background: no-repeat 50%
  }

  &__social-icons .social-icon.facebook {
    background-image: url("./assets/facebook.svg");
  }

  &__social-icons .social-icon.linkedin {
    background-image: url("./assets/linkedin.svg");
  }

  &__social-icons .social-icon.twitter {
    background-image: url("./assets/twitter.svg");
  }

  &__social-icons .social-icon.youtube {
    background-image: url("./assets/youtube.svg");
  }
}

.cm-footer-navigation {
  background-color: var(--color-background-light-grey);

  &__columns {
    display: flex;
    flex-direction: column;
    max-width: var(--screen-size-max);
    margin-left: auto;
    margin-right: auto;
    padding: var(--grid-gap);

    @media screen and (min-width: 768px) {
      flex-direction: row
    }
  }

  &__column {
    flex: 1; // same width for all columns
  }

  &-column {
    font-size: var(--font-size-text);
    list-style: none;
    padding: 0;
    margin: var(--padding-small) 0;

    @media screen and (min-width: 768px) {
      margin: var(--padding-medium) 0;
    }

    &__title {
      margin-top: 25px;
      margin-bottom: 0;
      padding-left: 12px;
      border-left: 4px solid var(--color-background-dark);
      font-size: var(--font-size-heading-2);
      color: var(--color-background-dark);
    }

    &__item {
      margin-top: 13px
    }

    &__item a:hover {
      text-decoration: underline
    }

    &__link {
      color: var(--color-background-dark);
      text-decoration: none
    }

    &__link:hover {
      text-decoration: underline
    }
  }
}
