.cm-search {
  color: #000;
  font-size: var(--font-size-text-small);
  @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
    padding-left: 0
  }

  @media screen and (min-width: 1200px) {
    padding-left: 0
  }

  &__header {
    padding-bottom: 20px
  }

  &__headline {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: var(--font-size-heading-2);
  }

  &__status {
    @media screen and (min-width: 768px) {
      height: 20px
    }
  }

  &__status, &__warning {
    margin-top: 0;

    span {
      color: #000;
      font-style: italic;

      &:after, &:before {
        content: '"'
      }
    }
  }

  &--form {
    position: relative;

    &-result-page {
      margin-bottom: 20px;
      @media screen and (min-width: 768px) {
        position: absolute;
        /*padding-left: 25%;*/
        margin-bottom: 0;
        &-without-filters {
          padding-left: 0
        }
      }
    }
  }

  &__form {
    &-label {
      display: none;
    }

    &-input {
      width: 100%;
      height: auto;
      display: none;
      padding: 6px 12px;
      color: #000;
      border: 1px solid #000;
      border-radius: 2px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      font-size: var(--font-size-text-small);
      line-height: 1.428571429;

      &:focus {
        border-color: #000;
        outline: none;
        box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 2px #000
      }

      @media screen and (min-width: 768px) {
        width: 250px
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
        display: inline-block
      }

      @media screen and (min-width: 1200px) {
        display: inline-block
      }

      /* clears the 'X' from Internet Explorer */
      &::-ms-clear,
      &::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
      }

      /* clears the 'X' from Chrome */
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }
    }

    &-button {
      position: absolute;
      border: none;
      top: 0;
      right: 0;
      width: 34px;
      height: 34px;
      background: url("./assets/magnifier.svg") no-repeat center center transparent;
      cursor: pointer;
      padding: 1px 10px;

      background-size: 32px;

      @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape), screen and (min-width: 1200px) {
        top: 3px;
        right: 3px;
        width: 28px;
        height: 28px;
      }

      span {
        display: none;
      }
    }

    &-close {
      z-index: 1;

      .cm-hamburger-icon {
        @media screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
          display: none
        }
        @media screen and (min-width: 1200px) {
          display: none
        }
      }
    }

    &-fieldset {
      padding: 0;
      margin: 0;
      border: 0;
      min-width: 0
    }
  }

  &--form-result-page &__form-input {
    display: block
  }

  &__filter {
    &-switch {
      margin-bottom: 20px;
      text-align: right;
      //ATM the backend API does not yet support filters
      //display: none;
      @media screen and (min-width: 768px) {
        display: none
      }

      &-icon {
        mask-image: url(./assets/filter.svg);
        background-color: var(--color-background-light);
        float: right;
        margin: 3px 0 0 5px;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 50%
      }
    }


    &-popup {
      display: none;
      box-sizing: border-box;
      padding: 0 10px;
      @media screen and (min-width: 768px) {
        display: block;
        padding: 0
      }

      &-head {
        display: none;
        margin: 20px 0
      }

      &-heading {
        flex: 1 1 auto;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500
      }

      &-close {
        align-self: flex-start;
        border: none;
        background: #fff;

        i {
          vertical-align: text-top;
          width: 16px;
          height: 16px;
          display: inline-block;
          background-repeat: no-repeat;
          background-position: 50%;
          background-image: url(./assets/close.svg)
        }

        span {
          display: none
        }
      }

      &--active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: #fff;
        @media screen and (max-width: 767px) {
          padding-top: 50px;
          position: fixed;
          bottom: 0
        }
        @media screen and (min-width: 768px) {
          position: static;
          top: auto;
          left: auto;
          width: auto;
          z-index: auto;
          background-color: transparent
        }
      }

      &--active &-head {
        display: flex;

        @media screen and (min-width: 768px) {
          display: none
        }
      }
    }

    width: 100%;
    max-width: 300px;
    padding: 0 20px 20px 0;
    box-sizing: border-box;

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;

      &-count {
        &:before {
          content: "("
        }

        &:after {
          content: ")"
        }
      }

      &-item {
        line-height: 1.714
      }

      &-link {
        font-weight: 400;
        margin: 0;

        cursor: pointer;
        color: #222;
        text-decoration: underline;

        &--checked {
          cursor: pointer;

          :hover {
            text-decoration: underline
          }
        }
      }

      &-checkbox {
        display: none;

        &-icon {
          vertical-align: text-top;
          width: 16px;
          height: 16px;
          display: inline-block;
          background-repeat: no-repeat;
          background-position: 50%;
          background-image: url(./assets/unchecked.svg);

          &--checked {
            background-image: url(./assets/checked.svg)
          }
        }
      }
    }


    &-title {
      cursor: pointer;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;

      &-icon {
        margin-left: 10px;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 50%;
        background-image: url(./assets/chevron.svg);
        transform: rotate(0deg);
        transition: all .2s ease;
      }

      &--list-collapsed .cm-search__filter-title-icon {
        background-image: url(./assets/chevron.svg);
        transform: rotate(180deg);
        transition: all .2s ease
      }

    }

    &-all-icon {
      vertical-align: text-top;
      width: 16px;
      height: 16px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url(./assets/arrow-back.svg);
    }

  }

  &__sort {
    height: 74px;

    @media screen and (min-width: 768px) {
      float: right;
      width: 100%;
      padding-bottom: 20px;
      margin-bottom: 0;
      text-align: right
    }

    &-label {
      padding: 5px 10px 5px 0;
      font-weight: 700;
    }

    &--dropdown {
      padding: 5px 10px;
      margin-bottom: 20px;
      text-align: left;
      height: 34px;
      border: 1px solid #000;
      border-radius: 2px
    }
  }

  &__more {
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
  }

  &__filter-switch-button,
  &__more {
    position: relative;
    text-decoration: none;
    color: var(--color-font-cta-hover);
    background-color: var(--color-green-highlight);
    border-radius: 0;
    pointer-events: auto;
    text-transform: uppercase;
    padding: 10px 20px 5px;
    transition: all .1s ease;
    font-size: var(--font-size-heading-3);
    font-family: var(--font-family-headline);

    &:hover {
      background-color: var(--color-green-highlight-hover);
      color: var(--color-font-cta-hover);
    }

    &:active, &:focus {
      outline: none;
      background-color: var(--color-green-highlight-active);
      box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 2px #000
    }
  }

  &__results {
    @media screen and (min-width: 768px) {
      width: 75%;
      float: right;
      border: none;
    }

    &--loading {
      opacity: .3;
      transition: opacity .3s ease
    }

    &-without-filters {
      width: 100%;
      float: none;
      clear: both
    }
  }

  &-result {
    &__image {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
        width: 200px;
        flex-shrink: 0;
        margin-right: 20px
      }
    }


    &__caption {
      flex-grow: 1;

      a,
      b {
        color: #000
      }
    }

    &__title {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: var(--font-size-heading-2);

      a {
        text-decoration: none;
      }
    }

    &__date {
      font-style: italic;
    }


    &__text {
      font-size: var(--font-size-text);
      margin-top: 0;
    }

    &__item {
      margin-bottom: 20px;
      display: flex;

      &:hover {
        background-color: var(--color-background-light-grey);
      }
    }
  }

  &--results {
    display: block;
    min-height: 50vh;
    margin-bottom: 96px;
    @media screen and (min-width: 768px) {
      padding: 0
    }
  }

  &__filters {
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      /* width: 25%;*/
      float: left
    }
  }

}
