.cm-pdp.cm-details {
  display: flex;

  .cm-details {
    &__medias {
      flex: 2;
      padding-right: 6px;
      margin-bottom: 0;
    }


    &__textual {
      flex: 1;
      padding-left: 6px;

      .sticky {
        position: sticky;
        top: 0;
      }
    }

    &__headline {
      text-align: left;
    }

    &__text {
      padding: 0;

      & > * {
        width: 100%;
      }
    }
  }
}

.cm-price {
  display: inline-block;

  &--old {
    text-decoration: line-through
  }

  & + .cm-price {
    margin-left: 4px
  }
}


.cm-product-asset {
  position: relative;

  &__icon {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    pointer-events: none
  }
}

.cm-product-assets {

  &__carousel {
    margin-top: 12px;
    .cm-product-asset {
      cursor: pointer
    }
  }

  &__tiles {
    display: flex;
    flex-wrap: wrap
  }

  &__tiles .cm-product-asset {
    flex: 1 1 auto;
    width: 49%;
    padding: 2px
  }

  &-downloads__title {
    font-weight: 400;
    display: block;
    color: #767676;
    font-size: 1rem;

    @media screen and (min-width: 768px) {
      font-size: 1.125rem
    }

    @media screen and (min-width: 768px) and (orientation: landscape), screen and (min-width: 1200px) {
      font-size: 1.25rem
    }
  }

  &-downloads__list {
    list-style: square;
    margin-left: 0;
    padding-left: 15px
  }

  &-downloads__title ~ &-downloads__list {
    margin-top: 6px
  }

  &-downloads__item {
    font-size: 12px
  }

  &-downloads__title {
    font-size: 12px;
    color: #000;
    font-weight: 700
  }
}

.cm-downloads__items {
  list-style: none;
  margin: 0;
  padding-left: 10px
}

.cm-downloads__item {
  line-height: 2;

  a:hover {
    text-decoration: underline
  }

  span {
    color: #777;
    padding-left: 10px
  }
}
