.cm-details {
  max-width: var(--screen-size-max);
  margin: var(--padding-large) auto;

  &__content {
    margin-bottom: var(--padding-large);
  }

  &__headline {
    font-family: var(--font-family-headline);
    font-size: var(--font-size-heading-1);
    text-align: center;
    margin-bottom: var(--padding-small);
  }

  &__metalist {
    text-align: center;
    margin-bottom: var(--padding-large);

    &-item + &-item:before {
      content: "•";
      margin: 0 var(--padding-small);
      display: inline-block;
    }
  }

  &__picture {
    padding-bottom: 37.5%;
  }

  &__medias {
    margin-bottom: var(--padding-large);
  }

  &__copyright {
    display: block;
    text-align: right;
    font-style: italic
  }

  &__code,
  &__text {
    padding: 0
  }

  &__text {
    margin-top: var(--padding-large);
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      padding: 0 15%;
    }
  }

  &__authors,
  &__downloads,
  &__tags {
    margin-top: var(--padding-large);
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      padding: 0 10%;
    }
  }

  &__introduction {
    display: flex;
    padding: 0;
    margin: 30px auto;

    @media screen and (min-width: 768px) {
      padding: 0 10%;
    }
  }

  &__picture-person {
    min-width: 100px;
    width: 25%;
    max-width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 15px;

    .cm-image {
      border-radius: 50%;
      background-color: var(--color-background-image);
    }

    @media screen and (min-width: 768px) {
      margin-right: 30px
    }
  }

  &__misc {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      display: inline-block;
    }
  }

  &__name {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: var(--font-size-heading-1);
  }

  &__email-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("./assets/envelope.svg");
    height: 18px;
    width: 18px;
    margin-right: 6px;
    vertical-align: bottom;
  }

  // detailview as banner
  &-container {
    width: 100%;
    flex-grow: 1;

    .cm-details__metalist {
      display: none;
    }

    .cm-details__content {
      margin-bottom: 0;
    }
  }
}
