#
# IMPORTANT:
# These environment variables do only affect the app
#   a) during development with "yarn start" or
#   b) in build phase with "yarn build"
# They can't be changed later, for example in the Docker image
# see https://create-react-app.dev/docs/adding-custom-environment-variables

# Use for absolute GraphQL Endpoint, otherwise it tries to connect to same host as app
REACT_APP_API_ENDPOINT=https://<headless-server.example>

# Use for absolute URLs in deployment, otherwise all URLs are relative
#REACT_APP_FQDN=https://<headless-server.example>

# Enable preview features like PDE, metadata and time travel for deployment
#REACT_APP_PREVIEW=true
