.cm-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  --grid-gap: var(--padding-medium);
}

.cm-placement {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  flex-shrink: 0;

  // add gap to grid
  width: calc(100% - var(--grid-gap)*2);
  margin-top: var(--grid-gap);

  @media screen and (min-width: 1200px) {
    width: var(--screen-size-max);
  }

  // no gap for first element on big screens
  @media screen and (min-width: 768px) and (orientation: landscape), (min-width: 1200px) {
    &:first-of-type {
      margin-top: 0;
    }
  }

  &--main,
  &--placement3 {
    flex-grow: 1
  }

  &--footer-navigation {
    width: 100%;
    margin-top: var(--padding-large);
  }

  &--footer {
    width: 100%;
    margin-top: 0;
  }
}
