.cm-left-right-banner {

  &-container {
    .cm-slot__item {
      width: 100%;

      @media screen and (min-width: 768px) {
        &:nth-child(2n) .cm-left-right-banner {
          flex-direction: row-reverse;
        }
      }
    }

  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    &__picture,
    &__caption {
      flex: 0 0 auto;
      width: 50%
    }
  }

  .cm-image-box {
    --aspect-ratio: 4*3;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    padding: var(--padding-medium);
    font-size: var(--font-size-text-small);

    @media screen and (min-width: 768px) {
      justify-content: center;
    }

    @media screen and (min-width: 768px) and (orientation: landscape), screen and (min-width: 1200px) {
      padding-left: 10%;
      padding-right: 10%
    }

    & > :last-child {
      margin-bottom: 0
    }
  }

  &__editorial {
    margin: 0 0 10px 0;

    span + span:before {
      content: "•";
      margin: 0 6px;
      display: inline-block
    }
  }

  &__author {
    text-decoration: underline;
    color: var(--color-background-grey);

    &:hover {
      text-decoration: none;
    }
  }

  .cm-banner {
    &__text {
      flex-grow: inherit;
    }
  }
}
