.cm-loading {
  display: flex;
  flex: 1 0 auto;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;

  &__icon {
    margin: 0 auto;

    rect {
      fill: var(--color-background-light-grey);
    }
  }
}

.cm-app > .cm-loading {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}
