.cm-carousel-banner {
  position: relative;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  height: 100%;

  .cm-image-box {
    --aspect-ratio: 1*1;

    @media screen and (min-width: 768px) {
      --aspect-ratio: 2*3;
    }
  }

  &__caption {
    font-size: var(--font-size-text-small);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: static;
    transform: none;

    > :last-child {
      margin-bottom: 0
    }
  }

  &__cta {
    margin-top: auto
  }

  &-container {
    box-sizing: border-box;
    overflow: hidden;

    // reset slider buttons
    @media screen and (min-width: 768px) {
      margin: 0 25px;
      overflow: initial;
    }
  }
}
