# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Use pnpm
      uses: pnpm/action-setup@v2
      with:
        version: 7

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16
        cache: 'pnpm'

    - name: Install dependencies
      run: pnpm install

    - name: Build Workspace
      run: |
        pnpm build
        pnpm --filter @coremedia-labs/spark build-storybook

    - name: Analyze Code and Style
      run: pnpm -r lint:ci

    - name: Test Workspace
      run: pnpm test

