.cm-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  width: 100%;

  &__icon {
    height: 15vw;
  }

  &__title {
    margin-top: 0;
    font-size: var(--font-size-heading-1);
  }

  &__message {
    max-height: 25vh;
    overflow: auto;
  }
}

.cm-app > .cm-alert {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  box-sizing: border-box;
  padding: var(--padding-large);

  @media screen and (min-width: 768px)  {
    background:var(--color-background-image);
    width: 700px;
    border-radius: 12px;
  }
}
